.header {
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__background {
  background: #FFFFFF;
}

.header__container {
  display: flex;
  flex-direction: row;

  @media (max-width: $lg) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: $md) {
    display: flex;
    flex-wrap: wrap;
  }

}

.header__burger {
  display: none;
}

.header__logo {
  margin: 15px 285px 0px 0px;

  @media (max-width: $lg) {
    margin: 30px 150px 0px 0px;
  }

  @media (max-width: $md) {
    margin: 30px 50px 0px 0px;
  }
}

.header__nav {
  z-index: 3;
  margin-right: 0px;

}

.header__nav-list {
  display: flex;
  list-style: none;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.header__nav-item {
  position: relative;
  margin: 26px 20px 0px 0px;
  white-space: nowrap;
}

.header__nav-link {
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);


  &:hover {
    transition: all 0.3s ease 0s;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
  }
}

.header__select {
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);

  &:hover {
    transition: all 0.3s ease 0s;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
  }
}

.header__contacts {
  display: flex;
  flex-direction: row;
}

.header__cone {
  margin: 27px 20px 0px 20px;

  @media (max-width: $lg) {
    margin: 30px 20px 0px 0px;
  }
}

.header__cone-buttom {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  padding: 10px 20px;
  border: 1px solid #BC9CFF;
  border-radius: 22px;
}

.header__register {
  margin: 27px 0px 0px 0px;

  @media (max-width: $lg) {
    margin: 30px 0px 0px 0px;
  }
}

.header__register-buttom {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 20px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
}

@media (max-width: $lg) {
  .header {
    width: 100%;
    position: fixed;
  }

  .header__nav {
    position: fixed;
    overflow: auto;

    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    padding-top: 110px;
    padding-left: 20px;
    transition: all 0.3s ease 0s;

    &.active {
      top: 0;
    }
  }

  html.lock,
  body.lock {
    overflow: hidden;
  }

  .header__nav-link {
    padding: 0px;

    &:hover {
      border-top: none;
    }
  }

  .header__nav-list {
    display: block;
  }

  .header__burger {
    order: 3;
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    top: 10px;
    z-index: 3;

    &:hover {
      cursor: pointer;
    }

    &:before,
    &:after {
      content: '';
      background-color: rgb(0, 0, 0);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &.active {
      &:before {
        content: '';
        transform: rotate(45deg);
        top: 9px;
      }

      &:after {
        content: '';
        transform: rotate(-45deg);
        bottom: 9px;
      }

      span {
        transform: scale(0);
      }
    }

    span {
      position: absolute;
      background-color: rgb(0, 0, 0);
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
  }
}

@media (max-width: $xl) {
  .header__background {
    padding: 10px 0;
  }
}


/* M O D A L */
.modal_div {
  max-height: 92%;
  max-width: 92%;
  padding: 40px 40px 0;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
  z-index: 2001;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal_div .modal_wrapp {
  margin-bottom: 40px;
}

.modal_div .modal_close {
  width: 40px;
  height: 40px;
  border: 2px solid #f00;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  display: block;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal_div .modal_close:hover {
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.modal_div .modal_close:before,
.modal_div .modal_close:after {
  content: '';
  display: block;
  background: #f00;
  position: absolute;
}

.modal_div .modal_close:before {
  height: 2px;
  top: 50%;
  left: 5px;
  right: 5px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.modal_div .modal_close:after {
  width: 2px;
  top: 5px;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#overlay {
  background-color: #000;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 2000;
}

.modal_head {
  margin-bottom: 20px;
}

/* end M O D A L */
